<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Forest Dreams</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/logo-mob.png  1x,
                /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h2 class="hero-subtitle">A night forest where ancient spirits awaken.</h2>
            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a>
        </div>
    </div>
</section>