<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Forest Dreams</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/logo-mob.png  1x,
                /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h2 class="hero-subtitle">A night forest where ancient spirits awaken.</h2>
            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">megajack.online IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
        AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="about-section">
    <div class="container">
        <h2 class="about-title">ABOUT</h2>
        <div class="about-wrapper">
            <p>Look, we built Forest Dreams because we wanted something that's more about getting lost in the atmosphere instead of
            just spinning like crazy.</p>
            <p>It draws inspiration from Hayao Miyazaki’s visual storytelling and traditional Japanese folklore, where nature is alive
            and spirits are part of the world, not separate from it.</p>
            <p>Everything in the forest happens at its own pace - you'll see energy building up, symbols moving like they actually mean
            something, and when stuff changes, it feels like you worked for it. If you're the type who likes to take your time and
            actually pay attention to what's happening, you're gonna love this.</p>
        </div>
    </div>
</section>
<section class="main-section">
<div class="container main-container">
    <div class="main-wrapper">
    <h2 class="main-title">MAIN HEROES</h2>
    <p class="main-text">None of these characters are in your face - they're more the quiet, watching type who do their thing when they're ready.</p>
</div>
<ul class="main-list">
    <li class="main-item">
           <picture>
                <source srcset="
            /img/main/one-desk.png 1x,
            /img/main/one-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
            /img/main/one-mob.png 1x,
            /img/main/one-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="main-img" src="/img/main/one-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h3 class="main-subtitle">Kodamas (Wild Spirits)</h3>
            <p class="main-text-item">Small forest spirits that represent Wild symbols. They gather energy, move across the field, and play a key role in
            awakening the forest.</p>
    </li>
        <li class="main-item">
           <picture>
                <source srcset="
            /img/main/two-desk.png 1x,
            /img/main/two-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
            /img/main/two-mob.png 1x,
            /img/main/two-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="main-img" src="/img/main/two-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h3 class="main-subtitle">Forest Yokai</h3>
            <p class="main-text-item">Creatures inspired by Japanese folklore — tanuki, kitsune, kappa, and tengu. <br/>They appear as symbolic elements, shaping
            the mood and reinforcing the mythological depth of the world.</p>
    </li>
        <li class="main-item">
           <picture>
                <source srcset="
            /img/main/three-desk.png 1x,
            /img/main/three-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
            /img/main/three-mob.png 1x,
            /img/main/three-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="main-img" src="/img/main/three-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h3 class="main-subtitle">Spirit of the Forest</h3>
            <p class="main-text-item">An ancient presence sleeping deep within the woods. Its awakening is gradual and tied to the flow of energy collected by
            the Kodamas.</p>
    </li>
</ul>
</div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Game</h2>
        <div class="demo-wrapper">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#"
            data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/forestdreams" target="gameIframe">
                    <img class="demo-img" src="/img/demo/btn.png" alt="Play Free" loading="lazy" />
        </a>
    </div>
</section>