<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Forest Dreams</h1>
        <div class="hero-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
                /img/hero/logo-mob.png  1x,
                /img/hero/logo-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h2 class="hero-subtitle">A night forest where ancient spirits awaken.</h2>
            <a class="hero-button" href="#demo">
                    <img class="hero-btn pulse" src="/img/hero/btn.png" alt="Enter" loading="lazy" />
            </a>
        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">megajack.online IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
        AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container">
        <h2 class="about-title">ABOUT</h2>
        <div class="about-wrapper">
            <p>Look, we built Forest Dreams because we wanted something that's more about getting lost in the atmosphere instead of
            just spinning like crazy.</p>
            <p>It draws inspiration from Hayao Miyazaki’s visual storytelling and traditional Japanese folklore, where nature is alive
            and spirits are part of the world, not separate from it.</p>
            <p>Everything in the forest happens at its own pace - you'll see energy building up, symbols moving like they actually mean
            something, and when stuff changes, it feels like you worked for it. If you're the type who likes to take your time and
            actually pay attention to what's happening, you're gonna love this.</p>
        </div>
    </div>
</section>
<section class="main-section" id="main">
<div class="container main-container">
    <div class="main-wrapper">
    <h2 class="main-title">MAIN HEROES</h2>
    <p class="main-text">None of these characters are in your face - they're more the quiet, watching type who do their thing when they're ready.</p>
</div>
<ul class="main-list">
    <li class="main-item">
           <picture>
                <source srcset="
            /img/main/one-desk.png 1x,
            /img/main/one-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
            /img/main/one-mob.png 1x,
            /img/main/one-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="main-img" src="/img/main/one-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h3 class="main-subtitle">Kodamas (Wild Spirits)</h3>
            <p class="main-text-item">Small forest spirits that represent Wild symbols. They gather energy, move across the field, and play a key role in
            awakening the forest.</p>
    </li>
        <li class="main-item">
           <picture>
                <source srcset="
            /img/main/two-desk.png 1x,
            /img/main/two-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
            /img/main/two-mob.png 1x,
            /img/main/two-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="main-img" src="/img/main/two-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h3 class="main-subtitle">Forest Yokai</h3>
            <p class="main-text-item">Creatures inspired by Japanese folklore — tanuki, kitsune, kappa, and tengu. <br/>They appear as symbolic elements, shaping
            the mood and reinforcing the mythological depth of the world.</p>
    </li>
        <li class="main-item">
           <picture>
                <source srcset="
            /img/main/three-desk.png 1x,
            /img/main/three-desk@2x.png 2x
                         " media="(min-width: 1439px)" />
                <source srcset="
            /img/main/three-mob.png 1x,
            /img/main/three-mob@2x.png 2x
                         " media="(max-width: 1438px)" />
                <img class="main-img" src="/img/main/three-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>
            <h3 class="main-subtitle">Spirit of the Forest</h3>
            <p class="main-text-item">An ancient presence sleeping deep within the woods. Its awakening is gradual and tied to the flow of energy collected by
            the Kodamas.</p>
    </li>
</ul>
</div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Game</h2>
        <div class="demo-wrapper">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Forest Dreams" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn" href="#"
            data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/forestdreams" target="gameIframe">
                    <img class="demo-img" src="/img/demo/btn.png" alt="Play Free" loading="lazy" />
        </a>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container features-container">
        <h2 class="visually-hidden">Features</h2>
        <ul class="features-list">
            <li class="features-item">
               <img src="/img/features/one.png" alt="Forest Dreams" loading="lazy">
               <div class="features-wrapper">
               <h3 class="features-subtitle">Night Respins</h3>
               <p class="features-text">When combinations include Wild spirits, the forest enters a Night phase. Five glowing yellow spheres appear, marking
            points of stored energy. Kodamas move toward these spheres, collecting energy to awaken the Spirit of the Forest.<br/>We
            want the animations to flow really smoothly, almost like you're watching some kind of peaceful ritual.
</p></div>
            </li>
            <li class="features-item">
               <img src="/img/features/two.png" alt="Forest Dreams" loading="lazy">
            <div class="features-wrapper">
               <h3 class="features-subtitle">Peekaboo Wild</h3>
               <p class="features-text">If a Kodama appears but is not part of a completed combination, it does not vanish. Instead, it retreats into a hidden
            reserve.<br/>
            Later — during a quiet round or a Night phase — it returns softly, reinforcing the idea that spirits move on their own
            terms.</p></div>
            </li>
        </ul>
    </div>
</section>
<section class="advantages-section" id="advantages">
    <div class="container advantages-container">
        <h2 class="advatages-title">ADVANTAGES</h2>
        <ul class="advantages-list">
            <li class="advatages-item">
                <img src="/img/advantages/one.png" alt="One" loading="lazy">
                <p class="advantages-text">It's not about non-stop action - we're building up this whole mood and atmosphere first</p>
            </li>
            <li class="advatages-item">
                <img src="/img/advantages/two.png" alt="two" loading="lazy">
                <p class="advantages-text">Symbols behave like characters, not static elements</p>
            </li>
            <li class="advatages-item">
                <img src="/img/advantages/three.png" alt="three" loading="lazy">
                <p class="advantages-text">The slow build-up actually gets you more invested in what happens next</p>
            </li>
            <li class="advatages-item">
                <img src="/img/advantages/four.png" alt="four" loading="lazy">
                <p class="advantages-text">We did our homework on the folklore stuff - didn't want to just slap on some generic 'mystical' theme</p>
            </li>
            <li class="advatages-item">
                <img src="/img/advantages/five.png" alt="five" loading="lazy">
                <p class="advantages-text">Calm rhythm suitable for longer, relaxed sessions</p>
            </li>
        </ul>
    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container gallery-container">
        <h2 class="visually-hidden">Gallery</h2>
               <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png 1x,
                        /img/gallery/one-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
                        <source srcset="
                        /img/gallery/one-mob.png 1x,
                        /img/gallery/one-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
                        <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Forest Dreams" loading="lazy" />
                    </picture>   
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="
                                            /img/gallery/two-desk.png 1x,
                                            /img/gallery/two-desk@2x.png 2x
                                            " media="(min-width: 1440px)" />
                            <source srcset="
                                            /img/gallery/two-mob.png 1x,
                                            /img/gallery/two-mob@2x.png 2x
                                            " media="(max-width: 1439px)" />
                            <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Forest Dreams" loading="lazy" />
                        </picture>
                    </div>
                    <div class="swiper-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/three-desk.png 1x,
                        /img/gallery/three-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
                        <source srcset="
                        /img/gallery/three-mob.png 1x,
                        /img/gallery/three-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
                        <img class="gallery-img" src="/img/gallery/three-mob.png" alt="Forest Dreams" loading="lazy" />
                    </picture>   
                    </div>
                    <div class="swiper-slide desk-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/one-desk.png 1x,
                        /img/gallery/one-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
                        <source srcset="
                        /img/gallery/one-mob.png 1x,
                        /img/gallery/one-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
                        <img class="gallery-img" src="/img/gallery/one-mob.png" alt="Forest Dreams" loading="lazy" />
                    </picture>   
                    </div>
                    <div class="swiper-slide desk-slide">
                        <picture>
                            <source srcset="
                                            /img/gallery/two-desk.png 1x,
                                            /img/gallery/two-desk@2x.png 2x
                                            " media="(min-width: 1440px)" />
                            <source srcset="
                                            /img/gallery/two-mob.png 1x,
                                            /img/gallery/two-mob@2x.png 2x
                                            " media="(max-width: 1439px)" />
                            <img class="gallery-img" src="/img/gallery/two-mob.png" alt="Forest Dreams" loading="lazy" />
                        </picture>
                    </div>
                    <div class="swiper-slide desk-slide">
                    <picture>
                        <source srcset="
                        /img/gallery/three-desk.png 1x,
                        /img/gallery/three-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
                        <source srcset="
                        /img/gallery/three-mob.png 1x,
                        /img/gallery/three-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
                        <img class="gallery-img" src="/img/gallery/three-mob.png" alt="Forest Dreams" loading="lazy" />
                    </picture>   
                    </div>
                </div>

                </div>
        <div class="btn-wrapper">
            <button class="slider-btn prev">
                <img src="/img/gallery/prev.png" alt="Arrow prev">
            </button>
        
            <button class="slider-btn next">
                <img src="/img/gallery/next.png" alt="Arrow next">
            </button>
        </div>
    </div>
</section>