body{
  background: #1f0024;
  font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.44444;
    color: #fff;
}
h2{
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 42px;
    text-transform: uppercase;
    color: #ade323;
}
h3{
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
    color: #ade323;
}