.footer{
  background-image: url("/img/footer/footer-mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.footer-container{
  padding: 24px 38px;
}
.footer-logo{
  margin-left: auto;
  margin-right: auto;
}
.footer-navigation{
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
.footer-text{
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}
@media only screen and (min-width: 1440px) {
  .footer{
    background-image: url("/img/footer/footer-desk.png");
  }
  .footer-container{
    padding: 56px 100px;
position: relative;
  }
  .footer-logo{
    position: absolute;
    left: 6%;
    top: 40%;
  }
  .footer-navigation{
    flex-direction: row;
    gap: 76px;
    justify-content: center;
  }
}