.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 60px;
backdrop-filter: blur(22px);
  background: #031009;
}

.header-container {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
backdrop-filter: blur(32px);
  background: rgba(3, 16, 9, 0.7);
  padding: 160px 60px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}


.menu-list-item {
padding: 8px 18px;
font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  border-radius: 32px;
  height: 36px;
  transition: all 0.2s ease;
}

.menu-list-item:hover,
.menu-list-item:focus,
.menu-list-item.active {
background-image: url("/img/back.png");
background-repeat: no-repeat;
background-position: top center;
background-size: 100% 36px;
}

@media screen and (min-width: 1440px) {
  .header {
height: 80px;
  }

  .header-container {
    padding: 22px 110px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }


  .links {
  border-radius: 32px;
    padding: 8px 18px;
height: 36px;
font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #fff;
    transition: all 0.2s ease;
  }

  .links:hover,
  .links:focus,
  .links.active {
background-image: url("/img/back.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 36px;
  }

}