.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top  center;
    background-size: cover;
    height: 800px;
}
.hero-logo{
    margin: 40px auto 0;
}
.hero-subtitle{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        color: #ade323;
        margin: 12px auto 32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
width: 246px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
@media only screen and (min-width: 1440px) {
   .hero-section{
    background-image: url("/img/hero/desk.png");
   }
   .hero-wrapper{
    width: 594px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
   }
   .hero-logo{
    margin-top: 0;
   }
}
/* Dsclaimer */
.disclaimer-section{
    background: #ade323;
}
.disclaimer-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-transform: uppercase;
        color: #031009;
}
.disclaimer-text{
    margin-top: 22px;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #031009;
}
@media only screen and (min-width: 1440px) {
.disclaimer-title{
    font-size: 42px;
   
}
.disclaimer-text{
    font-size: 28px;
}
}
/* ABOUT */
.about-section{
    background-image: url("/img/about/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1070px;
}
.about-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (min-width: 1440px) {
    .about-section{
        background-image: url("/img/about/desk.png");
        height: 812px;
    }
    .about-title{
        margin-top: 148px;
    }
    .about-wrapper{
        width: 701px;
    }
}