.hero-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top  center;
    background-size: cover;
    height: 800px;
}
.hero-logo{
    margin: 40px auto 0;
}
.hero-subtitle{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        color: #ade323;
        margin: 12px auto 32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: block;
width: 246px;
    height: 82px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}
@media only screen and (min-width: 1440px) {
   .hero-section{
    background-image: url("/img/hero/desk.png");
   }
   .hero-wrapper{
    width: 594px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
   }
   .hero-logo{
    margin-top: 0;
   }
}